input[type=text], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #3148F6;
    border-radius: 10px;
    padding: 14px 20px;
    margin: 8px;
    border: none;
}

button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.notifyUser {
    text-align: center;
    color: rgb(247, 63, 63);
    font-size: 17px;
}

.SignUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}


.signUpContainer {
    height: 400px;
    width: 325px;
    padding: 40px;
    border-radius: 10px;
    background-color: #1C4B8F;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.smallWelcome {
    font-size: 35px;
}