.navbar {
    width: 50%;
    background-color: #1C4B8F;
    padding: 10px 20px;
    border-radius: 10px;
    position: sticky;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.navbar a {
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    opacity: 0.3;
    cursor: pointer;
}